#spreadoverview {
    list-style:  none;
}
    #spreadoverview .spreadimagepanel {
        width:  220px;
        float: left;
    }
    #spreadoverview .spreadimage {
        max-height: 150px;
        max-width:  200px;
    }

    #spreadoverview .spreadpanel {
        padding: 10px;
        margin: 10px;
        clear: both;
        border:  1px solid #00c8d7;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        overflow: hidden;
        cursor: pointer;
    }
    #spreadoverview .spreadpanel.over {
        background-color: #00c8d7;
        color: #fff;
    }   
        #spreadoverview .spreadpanel.over h4 {
            color: #fff;
        }        
    #spreadoverview .spreadpanel .spreadtitle {
        font-weight: bold;
    }
    
.tarot-interpretation ul {
    margin-left: 0; 
}
.spread {
    margin-left:  auto;
    margin-right:  auto;
    position:  relative;
}

.position {
    position:  absolute;
    width: 100px;
}
    .position img {
        width: 100px;
    }

.interpretation{
    margin-bottom: 20px;    
}

/* begin dagkaart */
#spread6 { height:  250px; width: 100px;}
    #spread6 #position1 { 
        top:  0;
        left:  0px;
        width: 125px;
    }
        #spread6 #position1 img {
            width: 125px;
        }
        #spread6 #position1 div {
            margin-top: 10px;
        }
/* end dagkaart */

/* begin keltisch kruis */
#spread21 { height:  820px; width: 582px;}
    #spread21 #position1 { 
        top:  270px;
        left:  107px;
    }
    #spread21 #position2 { 
        top:  270px;
        left:  240px;        
    }
        #spread21 #position2 img {
            -moz-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
        }
    #spread21 #position3 { 
        top:  70px;
        left:  187px;
    }
    #spread21 #position4 { 
        top:  470px;
        left:  187px;
    }
    #spread21 #position5 { 
        top:  270px;
        left:  0;
    }
    #spread21 #position6 { 
        top:  270px;
        left:  374px;
    }
    #spread21 #position7 { 
        top:  600px;
        left:  481px;
    }
    #spread21 #position8 { 
        top:  400px;
        left:  481px;
    }
    #spread21 #position9 { 
        top:  200px;
        left:  481px;
    }
    #spread21 #position10 { 
        top:  0;
        left:  481px;
    }
/* end keltisch kruis */

/* begin relatiespel */
#spread30 { height:  620px; width: 345px;}
    #spread30 #position1 { 
        top:  200px;
        left:  122px;
    }
    #spread30 #position2 { 
        top:  0;
        left:  0;
    }
    #spread30 #position3 { 
        top:  0;
        left:  244px;
    }
    #spread30 #position4 { 
        top:  200px;
        left:  0;
    }
    #spread30 #position5 { 
        top:  200px;
        left:  244px;
    }
    #spread30 #position6 { 
        top:  400px;
        left:  0;
    }
    #spread30 #position7 { 
        top:  400px;
        left:  244px;
    }
/* end relatiespel */

/* begin uitgebreide dagkaart */
#spread40 { height:  320px; width: 315px;}
    #spread40 #position1 { 
        top:  0;
        left:  107px;
    }
    #spread40 #position2 { 
        top:  90px;
        left:  0;
    }
    #spread40 #position3 { 
        top:  90px;
        left:  214px;
    }
/* end uitgebreide dagkaart*/