.spread {
    margin-left:  auto;
    margin-right:  auto;
    position:  relative;
}

.position {
    position:  absolute;
}
    .position img {
        width: 100px;
    }

.interpretation{
    margin-bottom: 20px;
}

/* begin relatiespel */
#spread30 { height:  600px; width: 325px;}
    #spread30 #position1 { 
        top:  180px;
        left:  107px;
    }
    #spread30 #position2 { 
        top:  0;
        left:  0;
    }
    #spread30 #position3 { 
        top:  0;
        left:  214px;
    }
    #spread30 #position4 { 
        top:  180px;
        left:  0;
    }
    #spread30 #position5 { 
        top:  180px;
        left:  214px;
    }
    #spread30 #position6 { 
        top:  360px;
        left:  0;
    }
    #spread30 #position7 { 
        top:  360px;
        left:  214px;
    }
/* end relatiespel */